#formOrden{
  width: 80%;
  max-width: 100%;
  max-width: 700px;
}

#formLogin{
  width: 80%;
  max-width: 100%;
  max-width: 700px;
}

@media screen and (min-width:320px){

  #formOrden{
    margin:auto;
  }

  .contenedor_form{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-style: solid;
  }

  #formOrden input, textarea, select, button, label{
    width: 220px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
  }

  #formOrden button{
    margin-bottom: 20px;
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

  #formOrden button:hover{
    background: white;
    color: black;
    box-shadow: inset 0 0 20px;
    transform: translateY(0);
    transition-duration: none;
  }

  #formOrden input{
    padding: 6px 10px;
  }

  #formLogin{
    margin:auto;
  }

  #formLogin input, textarea, select, button, label{
    width: 220px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
  }

  #formLogin button{
    margin-bottom: 20px;
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

  #formLogin button:hover{
    background: white;
    color: black;
    box-shadow: inset 0 0 20px;
    transform: translateY(0);
    transition-duration: none;
  }

  #formLogin input{
    padding: 6px 10px;
  }

}

@media screen and (min-width:768px){

  #formOrden{
    margin:auto;
  }

  .contenedor_form{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-style: solid;
  }

  #formOrden input, textarea, select, button, label{
    width: 340px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  #formOrden button{
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

  #formOrden button:hover{
    background: white;
    color: black;
    box-shadow: inset 0 0 20px;
    transform: translateY(0);
    transition-duration: none;
  }

  #formOrden input{
    padding: 10px 10px;
  }

  #formLogin{
    margin:auto;
  }

  #formLogin input, textarea, select, button, label{

    width: 340px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 5px;
    margin-top: 10px;

  }

  #formLogin button{
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

  #formLogin button:hover{
    background: white;
    color: black;
    box-shadow: inset 0 0 20px;
    transform: translateY(0);
    transition-duration: none;
  }

}


@media screen and (min-width:768px){

  #formOrden button{
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

  #formLogin button{
    background-color: #85929E;
    border: none;
    color: white;
    padding: 16px 19%;
    text-decoration: none;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
  }

}
