/* ESTILO BASE */

*{
  max-width: 100%
}

header, nav, main, footer{
	width: 100%;
  max-width: 100%;
}

body{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
	box-sizing: border-box;
  background: rgb(207, 216, 220);
  font-family: 'Courier New';
  font-size: 18px;
}

header{
  width: 100%;
  max-width: 100%;
  background: rgb(207, 216, 220);
  color: black;
  font-size: 16px;
  text-align: center;
}

main{
  background: rgb(236, 239, 241);
  width: 80%;
  margin: auto;
  border-radius: 8px;
  margin-top: 10px;
}

footer{
	background-color: rgb(174, 182, 191 );
  padding: 25px;
  margin: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}

footer table{
  margin: auto;
}

/* ........................................ */

#logoAscensoris{
  margin-top: 15%;
}

#todoslosdias{
  display: block;
  margin:auto;
}

@media screen and (min-width:320px){
  header{
    width: 100%;
    max-width: 100%;
    background: rgb(207, 216, 220);
    color: black;
  }

  main{
    background: rgb(236, 239, 241);
    width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  main h3{
    text-align: center;
    margin-left: 20px;
  }

  main p{
    text-align: justify;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  #contenedortodoslosdias{
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
  }

  #contenedortodoslosdias h3{
    margin: 0;
  }


  footer{
  	background-color: rgb(174, 182, 191 );
    padding: 25px;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  footer table{
    margin: auto;
  }
}


@media screen and (min-width:768px){
  header{
    width: 100%;
    max-width: 100%;
    background: rgb(207, 216, 220);
    color: black;
  }

  main{
    background: rgb(236, 239, 241);
    width: 90%;
    margin: auto;
    border-radius: 8px;
    margin-top: 5%;
  }

  main h3{
    text-align: center;
    margin: 0;
    margin-top: 40px;
  }

  footer{
  	background-color: rgb(174, 182, 191 );
    padding: 25px;
    margin: 0;
    margin-top: 5%;
    width: 100%;
    max-width: 100%;
  }

  footer table{
    margin: auto;
  }

  #logoAscensoris{
    margin: 0;
    margin-top: 10%;
  }
}


@media screen and (min-width:1024px){
  header{
    width: 100%;
    max-width: 100%;
    background: rgb(207, 216, 220);
    color: black;
  }

  main{
    background: rgb(236, 239, 241);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
  }

  footer{
  	background-color: rgb(174, 182, 191 );
    padding: 25px;
    margin: 0;
    margin-top: 5%;
    width: 100%;
    max-width: 100%;
  }

  footer table{
    margin: auto;
  }

  #logoAscensoris{
    margin: 0;
    margin-top: 5%;
  }
}


@media screen and (min-width:1440px){

}
